name: Deploy to Railway

on:
  push:
    branches:
      - main

jobs:
  deploy:
    runs-on: ubuntu-latest

    steps:
    # 1. Récupération du code
    - name: Checkout code
      uses: actions/checkout@v4

    # 2. Installer la CLI Railway
    - name: Install Railway CLI
      run: npm install -g railway

    # 3. Lier le projet Railway
    - name: Link Railway project
      env:
        RAILWAY_TOKEN: ${{ secrets.RAILWAY_TOKEN }}
      run: railway link f1f4b864-dc6a-48a6-b871-0eb83d846bcd

    # 4. Déployer le service
    - name: Deploy to Railway
      env:
        RAILWAY_TOKEN: ${{ secrets.RAILWAY_TOKEN }}
      run: railway up --service InterfaceOradia --detach
